name: golangci
on: [push]
env:
  GO111MODULE: on
jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.2
